
:root{
    --primary-color: green;
    --border: 1px solid blue;
}

h2{
    margin: var(--margin, 10px);
    background-color: var(--primary-color);
    color: white;
    padding: .5rem;
}

p{
    border: var(--border);
    color: var(--primary-color);
}

.p2{
    --border: 3px solid yellow;
}