<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Test</title>
    <link rel="stylesheet" href="../../css/file.css">
    <link rel="shortcut icon" type="image/png" href="../../img/code.png">
</head>
<body>
    <div class="main_container">

        <a href="../../index.html" class="menu_link">
            <img src="../../img/code.svg" alt="Van icon" class="menu_img">
        </a>
        <h1 class="title_template">HTML Test</h1>
        <h4>Links</h4>
        <ul>
            <li class="link_list"><a href="" class="link_file" target="_Blank">Link</a></li>
        </ul>
    
   
    
<div class= "code_container">

    <!-- HTML -->
<!-- <figure></figure> -->
<pre class="prettyprint">
<code class="language-html" spellcheck="false">
    //TooLS
    &lt;script src=&quot;https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js&quot;&gt;&lt;/script&gt;
    https://github.com/googlearchive/code-prettify
    &lt;pre class=&quot;prettyprint&quot;&gt;
    &lt;code class=&quot;language-html&quot;&gt; //Specify the language here
    &lt;span&gt;Hola&lt;/span&gt;
    &lt;/code&gt;
    &lt;/pre&gt;
</code>
</pre>
    

<!-- HTML -->
<!-- <figure></figure> -->
<pre class="prettyprint">
<code class="language-html" spellcheck="false">
    //HTML
    &lt;h1&gt;Code embed of HTML&lt;/h1&gt;
    &lt;p&gt;must format it first in this &lt;a href=&quot;https://www.freeformatter.com/html-escape.html#ad-output&quot;&gt;link&lt;/a&gt;&lt;/p&gt;
</code>
</pre>


<!--CSS -->
<pre class="prettyprint">
    <code class="lang-css" spellcheck="false">
    //CSS
    h1 {
    color: white;
    }
    .main{
    background: white;
    }
    #id {
    position: absolute;
    }
    </code>
    </pre>


<!-- JAVASCRIPT -->
<pre class="prettyprint">
<code class="language-javascript" spellcheck="false">
    //JAVASCRIPT
    function Test(){
        alert("Hello");
    }
</code>
</pre>

<!-- PHP -->
<pre class="prettyprint">
<code class="language-php" spellcheck="false">
    //PHP
    console.log("Hola");
    $str = htmlspecialchars($str, ENT_HTML5, ENT_NOQUOTES);
</code>
</pre>

<!-- JAVA -->
<pre class="prettyprint" >
<code class="language-java" spellcheck="false" >
    //JAVA
    class Alumno{
        private int edad;
        private String name;
    }
</code>
</pre>


<!--MySQL -->
<pre class="prettyprint">
    <code class="language-sql"  spellcheck="false">
    //MySQL
    SELECT * FROM Alumno;
    </code>
    </pre>

</div>
</div>
  
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script src="../../js/prettify_css.js"></script>
</body>
</html>