* {
  margin: 0.1em;
}

[class*="a"] {
  height: 40px;
  padding: 0.5em;
}

h1 {
  background-color: hsl(61, 75%, 57%);
  padding: 0.5em;
  height: 40px;
}

/* BY NAME */
#a0 {
  background-color: cyan;
}
/* RGB */
.a1 {
  background-color: rgb(255, 0, 255);
  /* background-color: rgb(0,0,0); black */
  /* background-color: rgb(255,255,255); black */
}

/* RGBA  Alpha, how transparent is going to be*/
.a2 {
  background-color: rgba(255, 0, 255, 0.4);
  /* background-color: transparent; */
}

/* HEXADECIMAL - BETTER FOR GREYS */
.a3 {
  background-color: #1188aa;
  /* REDREDGREENGREENBLUEBLUE
        0 1 2 3 4 5 6 7 8 9 A B C D E F 10.
        FF = 255;
    */
}

.a4 {
  /*background-color: #3333FF;
     Shorthand cuando dos numeros o letras coinciden, pero en bloque 2-2-2*/
  background-color: #18a;
}

.a5 {
  /*HLS color, saturation lightness*/
  background-color: hsl(100, 100%, 70%);
}

.a6 {
  /*HLS color, saturation lightness opacity*/
  background-color: hsla(100, 100%, 70%, 0.5);
}

/* basic */
