/* https://fonts.google.com/specimen/New+Tegomin#standard-styles */
@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 20px 0px;
  text-align: center;
}

body {
  height: 100vh;
  font-family: "New Tegomin", serif;
  color: black;
  /* background: url(../img/background3.jpg) center center no-repeat ;
    background-size: cover;  */

  background: linear-gradient(
    to right top,
    #30b983,
    #2cc9bb,
    #66d4e3,
    #a4def9,
    #d7e9ff,
    #dde9fc,
    #e1e9f8,
    #e5e9f5,
    #ccdaee,
    #aecde5,
    #8bc0d9,
    #65b4ca
  );
  /* background: linear-gradient(to top right, #fff, rgb(182, 181, 181), rgb(24, 150, 172), grey); */
}

nav {
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.2);
  /* z-index: 10000000; */
}

nav ul {
  position: relative;
  list-style-type: none;
  border-radius: 5px;
}

nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0px 10px;
  height: 42px;
  color: black;
  transition: 0.2s ease;
  /* border-radius: 0 30px; */
  border-radius: 5px;
}

nav ul li a:hover {
  background: rgba(37, 41, 41, 0.76);
  color: white;
  text-decoration: none;
}

nav ul ul {
  position: absolute;
  left: 250px;
  width: 250px;
  top: 0;
  display: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul span {
  position: absolute;
  right: 20px;
  font-size: 1.5em;
}

nav ul .dropdown {
  position: relative;
}

nav ul .dropdown:hover > ul {
  display: initial;
}

nav ul .dropdown_two ul {
  position: absolute;
  left: 200px;
  top: 0;
}

nav ul .dropdown_two:hover ul {
  display: initial;
}

nav ul .dropdown_two ul {
  position: absolute;
  left: 200px;
  top: 0;
}

nav ul .dropdown_two:hover ul {
  display: initial;
}
